/*
Source: http://jsfiddle.net/dannymarkov/vfcfndxj/1/?utm_source=website&utm_medium=embed&utm_campaign=vfcfndxj/show
Author: Dan Markov
Date accessed: Sunday, April 10
*/

* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:60px;
}

ul li{
    display: inline-block;
    padding: 25px 20px;
    margin-top: -15px;
    cursor:pointer;
    color:white;
    background-color: #4A90E2;
    transition:0.3s;
}

a{
    text-decoration: none;
    color: white;
    height: 100%;
}

ul li:hover {
    background-color:#F5A623;
}

ul li.focused{
    background-color:#F5A623;
}

