.root {
  background-color: #eee;
  padding: 10px;
  border: 3px solid #ccc;
}
.container {
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  opacity: 1.00;
  marginTop: 0;
}
.header_container {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  height: 40;
}
.section_container {
  width: 100%;
  background-color: transparent;
  opacity: 1.0;
}
.list_view {
  background-color: transparent;
}
