/* CSS declarations go here */
body {
  background: #48B1E2 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: auto;
  max-height: 100% !important;
}

.container {
  background-color: #48B1E2;
}

a {
  color: #5C5C5C !important;
  text-align: right !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
}

h3 {
  margin-bottom: 15% !important;
  margin-top: 0px !important;
  font-size: 1.1em !important;
}

p, ul {
  margin: 15px 0;
}

form, button {
  width: 100%
}

button {
  background-color: black;
  color: white;
  outline: none;
}

form {
  margin: auto;
}

img {
  width: 50% !important;
}

.container-fluid { 
  height: 100% !important;
}

.ProvaSport {
  color: white;
}

.btn-default {
  color:#fff !important;
  background-color: #333 !important;
  border-color: #333 !important; 
}

.vertical-center {
  min-height: 100% !important;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh !important; /* These two lines are counted as one :-)       */

  display: flex !important;
  align-items: center !important;
}

.centerLink {
  text-align: center !important;
}

.link {
  text-align: right !important;
}

h1, h3, input {
  text-align: center;
}

